/* * {
    padding: 0;
    margin: 0;
} */

body {
  background-color: antiquewhite;
}

h1 {
  text-align: center;
}


#wrapper {
    width: 50%;
    border: 3px solid red;
    position: static;
    padding: 2rem;
    margin: auto;
}

img {
  width: 500px;
  padding: 1rem;
  margin: 1rem;
  border: 5px dotted black ;
}

li {
  color: green;
  font-weight: 900;
}

#purple-1 {
  color: purple;
  position: static;
  top: 1rem;
  left: 3rem;
}

span {
  /* display: block; */
}

.red {
  color: red !important;
}

.blue {
  color: blueviolet;
}

ul * {
    background-color: aquamarine;
}

a:hover {
    color: orange;
    font-weight: 900;
}


/* h1, h2, h6 {
    display: inline;
    font-size: 1em;
} */